* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    background: rgb(208, 232, 241);
}


/* navigasi */
.ret{
    position: fixed;
    background: #7cadee;
    width: 20%;
    height: 100%;
    left: -430px;
    transition: left 0.4s ease;
    background-color: transparent;
    transform: translate(-50% -50%);
}

.ret.dhow{
    left: 0px;
}


.tuy{
    position: absolute;
    left: 50px;
    top: 20px;
    background: rgb(35, 224, 248);
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: left 0.4s ease;
}

.tuy.cik{
    left: 260px;

}


.ret .code{
    color: white;
    margin: 12px;
    font-size: 20px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #2ee8eb;
    border-radius: 10%;
    letter-spacing: 1;
}

nav ul{
    background: #1f15a7;
    width: 100%;
    height: 100%;
    list-style: none;
    transform: translate(-50% -50%);
}

nav ul li{
    line-height: 55px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li a{
    position: relative;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-size: 19px;
    display: block;
    font-family:'arial';
    border-left: 2px solid transparent;
}

nav ul li a:hover{
    color: cyan;
   background: #1e1e1e;
   border-left-color: cyan;
}

nav ul ul{
    position: static;
    display: none;
}

nav ul .read.duru{
    display: block;

}

nav ul .rud.duru1{
    display: block;

}
nav ul ul li{
    line-height: 42px;
    border-bottom: none;

}

nav ul ul li a{
    padding-left: 42px;
    font-size: 17px;
}

nav ul li a span{
    position: absolute;
    color: white;
    top: 15px;
    right: 10px;
    font-size: 90px;
    transform: translateY(-50%);
    transition: transform 0.4;
}


nav ul li a span.turu{
    transform: translateY(-50%) rotate(180deg);
}


/* isi dari conten */

.s1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding-top: 10px;
    /* border: 1px solid; */
}

.column img{
    width: 90%;
    border-radius: 50%;
    border: 0,5px solid #000;
}

.column {
  float: left;
  width: 50%;
  padding: 80px;
   /* border: 1px solid; */ 
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
 
}

.q3{
    text-align: center;
    line-height: 30x;
}
.q1{
    text-align: center;
    font-family: 'Peralta';
    padding-top: 20px;
}

.w1{
    float: left;
    width: 33.33%;
    padding: 5px;
    /* border: 1px solid; */
    
}

.biti::after{
    content: "";
    clear: both;
    display: table;
  
}

.e3 img{
    border-radius: 50%;
    border: 0,5px solid;
    width: 15%;
}

.e3{
    text-align: center;
}

.r2 img{
    width: 30%;
}


.w4{
    float: left;
    padding: 7px;
    width: 25%;
    /* border: 1px solid; */
}

.ruti::after{
    content: "";
    clear: both;
    display: table;
}

.w4 img{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    /* border: 1px solid; */
    padding-top: 30px;
    padding-bottom: 30px;
}

section{
    display: flex;
    background: rgb(162, 239, 241);
}

.log6 img{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.log8{
    padding-top: 40px;
}
